
{% extends "_base.html" %}

<div class="container about-page-container desktop-about">
  <div class="row" style="padding-bottom: 30px;">
    <div class="col-xs-12">

      <img class="img-responsive" src="h/team_photo-13.png">
      
      <h2>About</h2>

      <p>The Non-Nitrogenous Organic Compounds are commonly called carbon compounds or heat-producers, but these terms are also descriptive of the nitrogenous compounds. These contain carbon, hydrogen and oxygen only, and furnish by their oxidation or combustion in the.</p>

    </div>
  </div>
</div>


<div class="container about-page-container desktop-about">
<div class="row" style="padding-bottom: 30px;">
<div class="col-xs-12">
<h2>Team</h2>


</div>
</div>
</div>
  
  
<div class="container about-page-container desktop-about">
<div class="row" style="padding-bottom: 30px;">
<div class="col-xs-12">
<h2>Contact</h2>
  
</div>
</div>
</div>
